#ChoixOrdre {
  margin-bottom: 20px;
}
.unePhoto {
  margin-bottom: 20px;
}
.unePhoto .meta {
  font-size: 0.8rem;
  color: #1d8676;
  margin-top: 10px;
}
#ListeTags {
  margin-bottom: 20px;
}
